/* variables */
/* linear gradient color */
$lgt: #fcfff4;
$lgb: #b3bead;

/* Box style */
select {
	background-color: #db7903;
	color: #fff;
	border-style: none;
	border: 1px solid #fff;
}
button {
	background-color: #db7903;
	border: 1px solid #fff;
	color: #e8e7e7;
	&:hover {
		background-color: rgba(#db7903, 0.9);
	}
	&.small {
		padding: 0.1em;
	}
	&.large {
		padding: 2em;
	}
}

a {
	&.btn {
		background-color: #db7903;
		border: 1px solid #fff;
		font-weight: bold;
		display: inline-block;
		text-decoration: none;
		text-align: center;
		color: #e8e7e7;
	}
}

.succes {
	width: 70%;
	background-color: #f8ffe8;
	background: linear-gradient(#f8ffe8, #7cdb2e);
	border: 2px dotted #45a401;
	padding: 1em;
	margin: 1em auto;
	font-size: 2em;
	color: #45a401;
	text-align: center;
}

.info{
	width: 70%;
	background-color: #86aecc;
	padding: 1em;
	margin: 1em auto;
	font-size: 2em;
	text-align: center;
	background: linear-gradient(#e9e4ef, #86aecc);
	border: 2px dotted #398BCE;
	color: #398BCE;
}

.alert{
	width: 70%;
	background-color: #f8b500;
	padding: 1em;
	margin: 1em auto;
	font-size: 2em;
	text-align: center;
	background: linear-gradient(#fceabb, #f8b500);
	border: 2px dotted #E0A206;
	color: #E0A206;
}

.danger{
	width: 70%;
	background-color: #febbbb;
	padding: 1em;
	margin: 1em auto;
	font-size: 2em;
	text-align: center;
	background: linear-gradient(#febbbb, #ff5c5c);
	border: 2px dotted #cc0000;
	color: #cc0000;
}

.hidden {
	display:none;
}