/* import compass */
@import "compass/css3/box-sizing";

/* fonction qui permet de calculer la largeur de colonne */
@function iman-col_width($nbCol, $gutter){
		@return (100% - (($nbCol - 1) * $gutter)) / $nbCol;
	}
/* classe qui permet de definir la ligne dans laquelle sera place la grille	 */
	.ligne {
		font-size: 0;
		display: block;
		margin-bottom: 1rem;
		& *:last-child {
			margin-right: 0;
		}
	}
/* mixin pour une grille type "mobile first" avec un positionnement inline-block	 */
@mixin gride_inbl($width, $nbCol, $gutter){
/* definition des classes pour les petits ecrans */
	@for $i from 1 through $nbCol {
		.span#{$i} {
			width: $width * $i + (($i - 1) * $gutter);
			margin-right: $gutter;
			vertical-align: top;
			@include box-sizing(border-box);
			display: inline-block;
		}
		.offset#{$i} {
			margin-left: $i * $width + $i * $gutter;
		}
		
	}
/* definition des classes pour les ecrans medium */
	@media only screen and (min-width: 640px) {
		@for $i from 1 through $nbCol {
			.span-m-#{$i} {
				width: $width * $i + (($i - 1) * $gutter);
				margin-right: $gutter;
				@include box-sizing(border-box);
				display: inline-block;
			}
		}
	}
/* definition des classes pour les ecrans large */
	@media only screen and (min-width: 1040px) {
		@for $i from 1 through $nbCol {
			.span-l-#{$i} {
				width: $width * $i + (($i - 1) * $gutter);
				margin-right: $gutter;
				@include box-sizing(border-box);
				display: inline-block;
			}
			.offset-l-#{$i} {
				margin-left: $i * $width + $i * $gutter;
			}
			
		}
	}
/* definition de la classe offset */
	
}