/* variables */
/* color */
$text-color: #e8e7e7;
$ct: #e8e7e7;
$cst: #e8e7e7;
$cm: #F4F073;
$cd: #F27474;
$ci: #73BBEF;

/* size */
$base-font-size: 1em;

/* weight */
$base-font-weight: normal;
$fwt: bold;
$fwst: lighter;

/* font-family */
$ft: 'Lobster', cursive, sans serif;
$ff: 'Oswald', sans-serif;
/* background */
$bgb: #cccccc;
$bgbs: #9E9E9E;
$lgt: #fcfff4;
$lgb: #b3bead;

/* list */
$lsn: decimal;
$lsg: square;

/* Charte typographique */

html {
	font-size: 15px;
}

body {
	color: $text-color;
	font-family: $ff;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.9rem;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}

h1, h2, h3, h4, h5, h6 {
	color: $ct;
	font-family: $ft;
	font-weight: $fwt;
	line-height: 0.6em;
	margin: 0;
	padding: 0.4em 0.3em;
	.small {
		font-size: 0.5em;
		color: $cst;
		font-weight: $fwst;
	}
}

p {
	margin: 1em 0;
	padding: 0 0.5em;
	text-align: justify;
	text-indent: 2em;
}

mark {
	background-color: $cm;
	font-style: italic;
}

del {
	color: $cd;
}

ins {
	color: $ci;
}

strong {
	font-weight: 800;
}

em {
	font-weight: 700;
}

blockquote {
	font-size: 1.2em;
	background-color: $bgb;
	border-radius: 5px;
	padding: 0.5em;
	margin: 1em 2em;
	box-shadow:2px 2px 1px $bgbs;
	&::before, &::after {
		content: "''";
		font-size: 2em;
		font-style: italic;
	}
}

pre {
	margin-left: 2em;
}

code {
	background-color: #000;
	color: #fff;
	padding: 0.5em;
	margin: 1em 2em;
	box-shadow:2px 2px 1px $bgbs;
}

kbd {
	background-color:#f4f0d3;
	border:1px dashed #ccc;
	padding:0.1em 0.3em;
	box-shadow:2px 2px 1px $bgbs;
}

ul {
	line-height: 1em;
	&.decorationNone li {
		list-style: none;
	}
	&.numeric li {
		list-style: $lsn;
	}
	&.geometric li {
		list-style: $lsg;
	}
}