@import 'corrective';
@import 'mixin_grille';
@import 'typo';
@import 'box';

/* variables pour grille*/
$nbCol: 8;
$gutter: 1%;

/* la fonction iman-col_width calcule automatiquement la largeur de la colonne */
$width: iman-col_width($nbCol, $gutter);

/* mixin */
@include gride_inbl($width, $nbCol, $gutter);

/* header */

header {
	background-image: url("../../images/header.png");
	height: 250px;
	margin-bottom: 2em;
}

header section:first-child {
	background-color: rgba(#05323b, 0.7);
}

header section:last-child {
	margin-top: 90px;
	padding-top:16px;
	height: 46px;
}

.ligne nav, .ligne a {
	font-size: 2.9rem;
}

option {
	border-bottom: 1px solid #e8e7e7;
}

/* body */

body {
	min-width: 480px;
	background-color: #05323b;
}

.ligne div, .ligne label{
	font-size: 1.5rem;
	color: #e8e7e7;
}

.ligne input, .ligne select, .ligne button, .ligne legend {
	font-size: 2rem;
}

article h2 {
	font-family: 'Oswald', sans-serif;
	line-height: 1.2em;
	padding: 0;
}

article {
/* 	border-bottom: 1px solid #e8e7e7; */
}

/* footer */

footer.ligne{
	height: 150px;
	margin: 0;
	border-top: 1px solid #e8e7e7;
}

address section h1{
	font-size: 2rem;
}
address {
	font-size: 1.5rem;
	padding-left: 0.7rem;
}

footer img {
	margin-left: 1em;
}