@charset "UTF-8";
/* Correctifs cibl├®s

/** --- = @section BASE --- */
/** Supprime les marges externes. */
/* line 5, ../sass/_corrective.scss */
body {
  margin: 0;
}

/** --- = @section TABLEAUX --- */
/** Supprime l'espace entre les cellules et fusionne les bordures. */
/* line 10, ../sass/_corrective.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/** --- = @section FORMULAIRES --- */
/** 1. Applique les marges recommand├®es.
* 2. Uniformise la bordure. */
/* line 17, ../sass/_corrective.scss */
fieldset {
  margin: 0 2px;
  /** 1 */
  border: 1px solid #828282;
  /** 2 */
  padding: 0.35em 0.625em 0.75em;
  /** 1 */
}

/** 1. R├®tablit l'h├®ritage de la propri├®t├® 'color'.
* @bugfix * @affected IE 8 et IE 9
* 2. Uniformise les marges internes. */
/* line 25, ../sass/_corrective.scss */
legend {
  border: 0;
  /** 1 */
  padding: 0;
  /** 2 */
}

/** 1. Supprime les marges externes.
* @css-for Firefox 4+, Safari 5 et Chrome
* 2. R├®tablit l'h├®ritage de la taille de police.
* 3. R├®tablit l'h├®ritage de la famille de police. */
/* line 33, ../sass/_corrective.scss */
button, input, select, textarea {
  margin: 0;
  /** 1 */
  font-size: 100%;
  /** 2 */
  font-family: inherit;
  /** 3 */
}

/** Supprime l'h├®ritage de la propri├®t├® text-transform des boutons.
* @css-for Chrome, Safari 5+ et IE 8+
* Supprime l'h├®ritage de la propri├®t├® des listes d├®roulantes.
* @css-for Firefox 4+ et Opera
* @see http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/ */
/* line 43, ../sass/_corrective.scss */
button, select {
  text-transform: none;
}

/** Uniformise la hauteur des champs texte.
* @see http://www.456bereastreet.com/archive/201108/line-height_in_input_fields/ */
/* line 48, ../sass/_corrective.scss */
input[type="text"] {
  border: 1px solid #ddd;
  padding: 2px;
  height: 1.2em;
  font-size: 1em;
  line-height: 1.2;
}

/** 1. Modifie lÔÇÖapparence du curseur sur certains ├®l├®ments de formulaire.
* 2. Permet de rendre les labels fonctionnels.
* @bugfix * @affected iOS
* @see http://twitter.com/sorccu/status/211364032098213888 */
/* line 59, ../sass/_corrective.scss */
label, button, input[type="button"], input[type="checkbox"], input[type="radio"],
input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

/** R├®tablit le curseur par d├®faut. */
/* line 64, ../sass/_corrective.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/** Supprime les marges internes incompressibles.
* @css-for Firefox
* @see http://www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
/* line 70, ../sass/_corrective.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/** 1. Normalise le mod├¿le de bo├«te et supprime les marges internes.
* 2. Supprime la marge interne superflue
@css-for IE 8 et IE 9 */
/* line 77, ../sass/_corrective.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /** 1 */
  padding: 0;
  /** 2 */
}

/** 1. Uniformise l'alignement vertical.
* 2. Masque la barre de d├®filement pr├®sente par d├®faut.
* @css-for Internet Explorer
* 3. Autorise le redimensionnement vertical du champs
* @note Ne fonctionne pas sur Internet Explorer. */
/* line 86, ../sass/_corrective.scss */
textarea {
  vertical-align: top;
  /** 1 */
  overflow: auto;
  /** 2 */
  resize: vertical;
  /** 3 */
}

/** --- = @section AUTRES COMPOSANTS --- */
/** Am├®liore la lisibilit├® de l'├®l├®ment. */
/* line 93, ../sass/_corrective.scss */
pre {
  white-space: pre-wrap;
}

/** Uniformise l'aspect du texte.
* @css-for Safari 5 et Chrome */
/* line 98, ../sass/_corrective.scss */
code, pre, kbd, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/** Uniformise l'aspect des r├¿gles horizontales.
* @css-for Firefox */
/* line 104, ../sass/_corrective.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/** Uniformise le contour.
* @css-for Chrome et Safari */
/* line 111, ../sass/_corrective.scss */
a:focus {
  outline: thin dotted;
}

/** Am├®liore la lisibilit├® au survol et ├á la prise de focus.
* @see people.opera.com/patrickl/experiments/keyboard/test */
/* line 116, ../sass/_corrective.scss */
a:active, a:hover {
  outline: 0;
}

/** Ajoute la bordure recommand├®e.
* @css-for Internet Explorer, Chrome et Safari */
/* line 121, ../sass/_corrective.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/** Applique la graisse recommand├®e.
* @css-for Firefox 4+, Safari 5 et Chrome */
/* line 126, ../sass/_corrective.scss */
b, strong {
  font-weight: bold;
}

/** Uniformise la taille de l'├®l├®ment. */
/* line 130, ../sass/_corrective.scss */
small {
  font-size: 80%;
}

/** Applique le style recommand├®.
* @css-for Safari 5 et Chrome */
/* line 135, ../sass/_corrective.scss */
dfn {
  font-style: italic;
}

/** Emp├¬che les ├®l├®ments 'sub' et 'sup' d'affecter l'interlignage du parent.
* @see gist.github.com/413930 */
/* line 140, ../sass/_corrective.scss */
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

/* line 147, ../sass/_corrective.scss */
sup {
  top: -0.5em;
}

/* line 151, ../sass/_corrective.scss */
sub {
  bottom: -0.25em;
}

/** Uniformise les guillemets automatiques. */
/* line 155, ../sass/_corrective.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/** 1. Supprime la bordure des imags se trouvant dans un lien.
* @css-for IE 8 et 9
* 2. Supprime l'espace ind├®sirable appraissant sous les images
* @see http://www.alsacreations.com/astuce/lire/52-espaces-sous-les-images.html */
/* line 162, ../sass/_corrective.scss */
img {
  border: 0;
  /** 1 */
  vertical-align: middle;
  /** 2 */
}

/** Supprime l'ombre port├®e du texte lors de sa s├®lection.
* @see h5bp.com/
* @note Les couleurs de texte et d'arri├¿re-plan doivent ├¬tre r├®d├®finies pour que l'instruction soit appliqu├®e.*/
/* line 169, ../sass/_corrective.scss */
::selection {
  text-shadow: none;
  color: #000;
  background-color: #abcaff;
}

/** Supprime l'ombre port├®e du texte lors de sa s├®lection.
* @css-for Firefox */
/* line 176, ../sass/_corrective.scss */
::-moz-selection {
  text-shadow: none;
  color: #000;
  background-color: #abcaff;
}

/** --- = @section MOBILES --- */
/** Emp├¬che le redimensionnement du texte au changement d'orientation du terminal.
* @bugfix * @affected iOS
* @see http://filamentgroup.com/examples/iosScaleBug/
* @note Cette instruction pr├®serve la fonction de zoom utilisateur */
/* line 186, ../sass/_corrective.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/** 1. ├ëvite que l'instruction 2 ne casse les contr├┤les natifs des ├®l├®ments 'audio' et 'video'.
* @bugfix * @affected Webkit in Android 4.0.
* 2. Autorise la personnalisation des ├®l├®ments.
* @bugfix * @affected iOS */
/* line 194, ../sass/_corrective.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /** 2 */
}

/* import compass */
/* fonction qui permet de calculer la largeur de colonne */
/* classe qui permet de definir la ligne dans laquelle sera place la grille	 */
/* line 9, ../sass/_mixin_grille.scss */
.ligne {
  font-size: 0;
  display: block;
  margin-bottom: 1rem;
}
/* line 13, ../sass/_mixin_grille.scss */
.ligne *:last-child {
  margin-right: 0;
}

/* mixin pour une grille type "mobile first" avec un positionnement inline-block	 */
/* variables */
/* color */
/* size */
/* weight */
/* font-family */
/* background */
/* list */
/* Charte typographique */
/* line 33, ../sass/_typo.scss */
html {
  font-size: 15px;
}

/* line 37, ../sass/_typo.scss */
body {
  color: #e8e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: normal;
}

/* line 44, ../sass/_typo.scss */
h1 {
  font-size: 3rem;
}

/* line 48, ../sass/_typo.scss */
h2 {
  font-size: 2.9rem;
}

/* line 52, ../sass/_typo.scss */
h3 {
  font-size: 1.17em;
}

/* line 56, ../sass/_typo.scss */
h4 {
  font-size: 1em;
}

/* line 60, ../sass/_typo.scss */
h5 {
  font-size: 0.83em;
}

/* line 64, ../sass/_typo.scss */
h6 {
  font-size: 0.67em;
}

/* line 68, ../sass/_typo.scss */
h1, h2, h3, h4, h5, h6 {
  color: #e8e7e7;
  font-family: "Lobster", cursive, sans serif;
  font-weight: bold;
  line-height: 0.6em;
  margin: 0;
  padding: 0.4em 0.3em;
}
/* line 75, ../sass/_typo.scss */
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small {
  font-size: 0.5em;
  color: #e8e7e7;
  font-weight: lighter;
}

/* line 82, ../sass/_typo.scss */
p {
  margin: 1em 0;
  padding: 0 0.5em;
  text-align: justify;
  text-indent: 2em;
}

/* line 89, ../sass/_typo.scss */
mark {
  background-color: #F4F073;
  font-style: italic;
}

/* line 94, ../sass/_typo.scss */
del {
  color: #F27474;
}

/* line 98, ../sass/_typo.scss */
ins {
  color: #73BBEF;
}

/* line 102, ../sass/_typo.scss */
strong {
  font-weight: 800;
}

/* line 106, ../sass/_typo.scss */
em {
  font-weight: 700;
}

/* line 110, ../sass/_typo.scss */
blockquote {
  font-size: 1.2em;
  background-color: #cccccc;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 2em;
  box-shadow: 2px 2px 1px #9E9E9E;
}
/* line 117, ../sass/_typo.scss */
blockquote::before, blockquote::after {
  content: "''";
  font-size: 2em;
  font-style: italic;
}

/* line 124, ../sass/_typo.scss */
pre {
  margin-left: 2em;
}

/* line 128, ../sass/_typo.scss */
code {
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  margin: 1em 2em;
  box-shadow: 2px 2px 1px #9E9E9E;
}

/* line 136, ../sass/_typo.scss */
kbd {
  background-color: #f4f0d3;
  border: 1px dashed #ccc;
  padding: 0.1em 0.3em;
  box-shadow: 2px 2px 1px #9E9E9E;
}

/* line 143, ../sass/_typo.scss */
ul {
  line-height: 1em;
}
/* line 145, ../sass/_typo.scss */
ul.decorationNone li {
  list-style: none;
}
/* line 148, ../sass/_typo.scss */
ul.numeric li {
  list-style: decimal;
}
/* line 151, ../sass/_typo.scss */
ul.geometric li {
  list-style: square;
}

/* variables */
/* linear gradient color */
/* Box style */
/* line 7, ../sass/_box.scss */
select {
  background-color: #db7903;
  color: #fff;
  border-style: none;
  border: 1px solid #fff;
}

/* line 13, ../sass/_box.scss */
button {
  background-color: #db7903;
  border: 1px solid #fff;
  color: #e8e7e7;
}
/* line 17, ../sass/_box.scss */
button:hover {
  background-color: rgba(219, 121, 3, 0.9);
}
/* line 20, ../sass/_box.scss */
button.small {
  padding: 0.1em;
}
/* line 23, ../sass/_box.scss */
button.large {
  padding: 2em;
}

/* line 29, ../sass/_box.scss */
a.btn {
  background-color: #db7903;
  border: 1px solid #fff;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #e8e7e7;
}

/* line 40, ../sass/_box.scss */
.succes {
  width: 70%;
  background-color: #f8ffe8;
  background: linear-gradient(#f8ffe8, #7cdb2e);
  border: 2px dotted #45a401;
  padding: 1em;
  margin: 1em auto;
  font-size: 2em;
  color: #45a401;
  text-align: center;
}

/* line 52, ../sass/_box.scss */
.info {
  width: 70%;
  background-color: #86aecc;
  padding: 1em;
  margin: 1em auto;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(#e9e4ef, #86aecc);
  border: 2px dotted #398BCE;
  color: #398BCE;
}

/* line 64, ../sass/_box.scss */
.alert {
  width: 70%;
  background-color: #f8b500;
  padding: 1em;
  margin: 1em auto;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(#fceabb, #f8b500);
  border: 2px dotted #E0A206;
  color: #E0A206;
}

/* line 76, ../sass/_box.scss */
.danger {
  width: 70%;
  background-color: #febbbb;
  padding: 1em;
  margin: 1em auto;
  font-size: 2em;
  text-align: center;
  background: linear-gradient(#febbbb, #ff5c5c);
  border: 2px dotted #cc0000;
  color: #cc0000;
}

/* line 88, ../sass/_box.scss */
.hidden {
  display: none;
}

/* variables pour grille*/
/* la fonction iman-col_width calcule automatiquement la largeur de la colonne */
/* mixin */
/* definition des classes pour les petits ecrans */
/* line 21, ../sass/_mixin_grille.scss */
.span1 {
  width: 11.625%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset1 {
  margin-left: 12.625%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span2 {
  width: 24.25%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset2 {
  margin-left: 25.25%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span3 {
  width: 36.875%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset3 {
  margin-left: 37.875%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span4 {
  width: 49.5%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset4 {
  margin-left: 50.5%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span5 {
  width: 62.125%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset5 {
  margin-left: 63.125%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span6 {
  width: 74.75%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset6 {
  margin-left: 75.75%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span7 {
  width: 87.375%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset7 {
  margin-left: 88.375%;
}

/* line 21, ../sass/_mixin_grille.scss */
.span8 {
  width: 100%;
  margin-right: 1%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

/* line 28, ../sass/_mixin_grille.scss */
.offset8 {
  margin-left: 101%;
}

/* definition des classes pour les ecrans medium */
@media only screen and (min-width: 640px) {
  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-1 {
    width: 11.625%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-2 {
    width: 24.25%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-3 {
    width: 36.875%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-4 {
    width: 49.5%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-5 {
    width: 62.125%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-6 {
    width: 74.75%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-7 {
    width: 87.375%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 36, ../sass/_mixin_grille.scss */
  .span-m-8 {
    width: 100%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }
}
/* definition des classes pour les ecrans large */
@media only screen and (min-width: 1040px) {
  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-1 {
    width: 11.625%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-1 {
    margin-left: 12.625%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-2 {
    width: 24.25%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-2 {
    margin-left: 25.25%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-3 {
    width: 36.875%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-3 {
    margin-left: 37.875%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-4 {
    width: 49.5%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-4 {
    margin-left: 50.5%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-5 {
    width: 62.125%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-5 {
    margin-left: 63.125%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-6 {
    width: 74.75%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-6 {
    margin-left: 75.75%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-7 {
    width: 87.375%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-7 {
    margin-left: 88.375%;
  }

  /* line 47, ../sass/_mixin_grille.scss */
  .span-l-8 {
    width: 100%;
    margin-right: 1%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
  }

  /* line 53, ../sass/_mixin_grille.scss */
  .offset-l-8 {
    margin-left: 101%;
  }
}
/* definition de la classe offset */
/* header */
/* line 18, ../sass/screen.scss */
header {
  background-image: url("../../images/header.png");
  height: 250px;
  margin-bottom: 2em;
}

/* line 24, ../sass/screen.scss */
header section:first-child {
  background-color: rgba(5, 50, 59, 0.7);
}

/* line 28, ../sass/screen.scss */
header section:last-child {
  margin-top: 90px;
  padding-top: 16px;
  height: 46px;
}

/* line 34, ../sass/screen.scss */
.ligne nav, .ligne a {
  font-size: 2.9rem;
}

/* line 38, ../sass/screen.scss */
option {
  border-bottom: 1px solid #e8e7e7;
}

/* body */
/* line 44, ../sass/screen.scss */
body {
  min-width: 480px;
  background-color: #05323b;
}

/* line 49, ../sass/screen.scss */
.ligne div, .ligne label {
  font-size: 1.5rem;
  color: #e8e7e7;
}

/* line 54, ../sass/screen.scss */
.ligne input, .ligne select, .ligne button, .ligne legend {
  font-size: 2rem;
}

/* line 58, ../sass/screen.scss */
article h2 {
  font-family: 'Oswald', sans-serif;
  line-height: 1.2em;
  padding: 0;
}

/* line 64, ../sass/screen.scss */
article {
  /* 	border-bottom: 1px solid #e8e7e7; */
}

/* footer */
/* line 70, ../sass/screen.scss */
footer.ligne {
  height: 150px;
  margin: 0;
  border-top: 1px solid #e8e7e7;
}

/* line 76, ../sass/screen.scss */
address section h1 {
  font-size: 2rem;
}

/* line 79, ../sass/screen.scss */
address {
  font-size: 1.5rem;
  padding-left: 0.7rem;
}

/* line 84, ../sass/screen.scss */
footer img {
  margin-left: 1em;
}

/* line 87, ../sass/screen.scss */
#linkAccueil {
  color: inherit;
  text-decoration: none;
}

/* definition des classes pour les ecrans medium (tablette)*/
@media only screen and (min-width: 640px) {
  /* line 93, ../sass/screen.scss */
  .hidden {
    display: initial;
  }

  /* line 97, ../sass/screen.scss */
  .ligne div, .ligne label {
    font-size: 1.7rem;
    color: #e8e7e7;
  }

  /* line 102, ../sass/screen.scss */
  .ligne input, .ligne select, .ligne button, .ligne legend {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 1040px) {
  /* line 109, ../sass/screen.scss */
  a.btn, a .ligne select {
    font-size: 1.5rem;
  }

  /* line 113, ../sass/screen.scss */
  article.ligne div, .ligne select, .ligne button {
    font-size: 19px;
  }

  /* line 117, ../sass/screen.scss */
  .ligne label {
    font-size: 19px;
  }

  /* line 120, ../sass/screen.scss */
  .ligne input {
    height: 25px;
  }

  /* line 123, ../sass/screen.scss */
  .offset-l-0 {
    margin-left: 0;
  }
}
/* line 130, ../sass/screen.scss */
#allWidth {
  width: 100%;
}

/* line 134, ../sass/screen.scss */
select {
  box-sizing: border-box;
}
